body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 136, 136);
}

.fontSize {
    font-size: 70px;
}

#container {
  width: 10%;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 3s both;
  border: 1px solid rgb(56, 106, 58);

}

@keyframes mymove {
  0%   {top: 0px; background: red }
  100% {top: 30rem; background: rgb(204, 204, 5);
    height: 200px; width: 40%;}
}

.emojiClass {
    background-color: none;
    position:absolute;
    margin: 0;
    animation: mymove1 3s both;
  }
  
  @keyframes mymove1 {
    0%   {top: -100px; left: 50%;}
    10%   {top: -300px; left: 50%px;}
    20%   {top: -400px; left: 55%px;}
    30%   {top: -500px; left: 450px;}
    40%   {top: -500px; left: 500px;}
    50%   {top: -500px; left: 550px;}
    60%   {top: -400px; left: 600px;}
    70%   {top: -300px; left: 700px;}
    80%   {top: 0px; left: 700px;}
    90%   {top: 50px; left: 800px;}
    100%  {top: 50px; left: 800px;}
  }

  .display {
    display:none;
  }