.something {
    background-color: rgb(182, 32, 32);
    color: rgb(150, 48, 48);
    width: calc(25% - 30px);
    float: left;
    padding: 10px;
    margin: 0 10px 10px 0;
  }
  
  .something.active {
    background-color: gray;
    color: rgb(70, 24, 24);
  }