*{
    padding: 0;
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

ul li{
    padding: 20px;
    background-color: yellow;
    text-decoration: none;
    list-style-type: none;
}