.container{
    display: flex;
}

.item{
    height:120px;
    border: 1px solid black;
    flex-basis: 20%;
}

.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item2{
    border: 1px solid red;
    height: 60px;
    flex-basis: 50%;

}